---
title: Alsu Labs
---
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Alsu Labs — Alsu LABS</title>

        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <main class="content-container">
            <article>
                <header>
                    <h1 class="title">Alsu Labs</h1>
                </header>
                <footer>
                    <p class="caption">By Alsu Bikkulova / Октябрь 29, 2020
          </p>
                </footer>

                <div class="article-content">


        Я попробовала пользоваться Тиньком, Freedom Finance, БКС и даже United Traders. Остался нетронутым только АТОН из более менее доступных и более-менее известных. Сейчас думаю о том, чтобы первести все в Interactive Brokers, так как там шире инструментарий.<br>
        
        <br>
        Мой текущий портфель разбросан по следующим брокерам.
        <br><br>
        <span class="colortext">БКС</span> 
        <br>
        Тут открыт ИИС и логично все сделки проводить здесь, но нет - это было бы слишком просто.
        <br>
        CNK 9 шт. -2000 руб
        <br>
        DAL 1 шт. -100 руб
        <br>
        и висит кеш не очень много.
        <br>
        Итого за все время в БКС: -1800 руб. 
        <br><br>
        <span class="colortext">Тинькофф Инвестиции</span> 
        <br>
        BRK.B 3 шт. +3850 руб
        <br>
        Облигации RUOOOAOJWWGO. Хз сколько прибыль, бумаги с амортизацией и по 12,7% годовых. Их держу до конца (15.10.2021).
        <br>
        и висит кеш примерно как в БКС.
        <br>
        Итого за все время в Тинькофф Инвестициях: >+3850 руб. 
        <br><br>
        <span class="colortext">United Traders</span> 
        <br>
        Привлекли возможностью участвовать в IPO небольшими суммами.
        <br>
        CRSR 1 шт. +$8 (~616 руб) - и на выходе будет -20%, и еще минус за выход. Останется ~493 руб.
        <br>
        PLTR 9 шт. -$2 (144 руб) - и будет еще минус за выход. Вообще, бумага после открытия улетела вниз с $11 до $9 и было -$22. Но Палантир взяла далеко и надолго. Может еще докуплюсь.
        <br>
        Оставила заявки на pre-IPO Udemy (много). Пока заморожено.
        <br>
        Итого за все время в United Traders: ~ +250 руб. 
        <br><br>
        <span class="colortext">Freedom Finance</span> 
        <br>
        ARRY 4 шт. +4743,2 руб. Жаль была маленькая аллокация 3% - я бы больше вкинула по объемам. Но это была первая IPO, в которой участвовала во Freedom Finance.
        <br>
        JAMF.US 1 шт. -1270,5 руб. Эта бумага - наглядный пример, почему НЕЛЬЗЯ ставить заявки на покупку бумаг в день выхода на рынок. Бумага стартовала с цены $50 и полетела вниз, но во время установки заявки я не знала первоначальной цены (вслепую делала) - всегда сначала смотрите цену, с которой стартует и только потом принимайте решения.
        <br>
        VERX.US 3 шт. -161,7 руб. Это бумага - тоже наглядный пример, почему НЕЛЬЗЯ ставить заявки на покупку бумаг в день выхода на рынок. Последние две оставила в портфеле для эксперимента - хочу посмотреть, что с ними будет через пару лет.
        <br>
        На счете Freedom Finance периодически пролетает кеш в разные стороны, не слежу.
        <br>
        Итого за все время в Freedom Finance: +3311 руб. 
        <br><br>
        <br>
        Итого за все время по всем счетам: +5611 руб.
        <br><br>
        В целом, я написала эту статью, чтобы наконец взять и посчитать. Приятно, что плюс. Неприятно, что абсолютные величины достаточно маленькие - чувствую, что можно размахнуться больше, но для этого надо консолидировать портфель в одном месте и сформировать сумму до 5-10 тысяч рублей на эксперименты (пока так и получается, но деньги уже в экспериментах). Еще так и не попробовала опции погашения бумаг по оферте - в БКС очень тугая поддержка и всю информацию мне предоставляли в течение 3 дней, включая комиссии. Попробую в следующий раз. 
        <br><br>Вообще, вам интересно было бы посмотреть относительные величины дохода? Это все от -10% до +30%. Все эти бумаги брались в течение 2020 года в разные периоды и я не учитывала "игры" с курсом доллара. Так что технически результат с погрешностями, но пока хотя бы так.
        <br>
        
    
                </div>
            </article>
        </main>
    </body>
</html>