---
title: Обо мне
permalink: /about.html
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% include head.html %}
        
        <!-- Use the title from a page's frontmatter if it has one -->

        {% include header.html %}
        
        <title>Alsu Labs</title>
    </head>
    
    <body>
        <main class="content-container">
  <article>
    <header>
      <h1>Обо мне</h1>
    </header>

    <div class="article-content">

        Привет! Я - iOS разработчица. В поисках призвания сменила больше 10 профессий. Успела поработать в Альфе, Сбере, UnitedTraders. Сейчас завязала с финтехом и развлекаюсь с видео. <br><br>
	А еще я жена и мама, топлю за рациональный подход и честно рассказываю о книжках. <br><br>
        Если тебе интересен комплексный фундаментальный подход к жизни и нравится видеть жизнь такой, какая она есть - тебе сюда.<br><br>
        email: <a href="%20av.bikkulova@gmail.com">av.bikkulovas@gmail.com</a><br>


    </div>
    </article>
</main>

    </body>
</html>
