---
title: Книги
permalink: /books.html
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <main class="content-container">
            <article>
                <header>
                    <h1 class="title">Книги</h1>
                </header>

                <div class="article-content">
                    <p>Моя малая подборка книг, на которые я либо опираюсь в своей работе, либо которые я рекомендую тем, кто начинает работать в сфере IT. Я не претендую на полноту или объективность — это просто список книг, которые мне помогли и которые я советую прочитать, если вы найдёте их тему близкой.</p>

                    <p><a href="https://www.amazon.com/Advanced-Swift-Updated-iOS-13/dp/1922711171/ref=sr_1_1?keywords=advanced+swift&qid=1571313096&s=books&sr=1-1">Advanced Swift</a> — книга про Swift, на которой я учила Swift.</p>

                    <p><a href="https://www.amazon.com/Effective-Swift-Specific-Implement-iOS/dp/0999083083">Effective Swift</a> — короткие советы для Swift разработчиков.</p>

                    <p><a href="https://www.amazon.com/Design-Patterns-Reusable-Object-Oriented/dp/0201633612">Design Patterns</a> — книга, которая помогает понять основные шаблоны проектирования.</p>

                    <p><a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882">Clean Code</a> — не всегда согласна с автором, но в целом дала мне понимание как писать код, который будет легко поддерживать.</p>

                    <p><a href="https://www.amazon.com/Pragmatic-Programmer-Journey-Mastery/dp/020161622X">Pragmatic Programmer</a> — книга, которую я иногда цитирую до сих пор.</p>

                    <p><a href="https://www.amazon.com/Programming-Principles-Practice-Using/dp/0321543726">Programming: Principles and Practice Using C++</a> — учебник для первого семестра в университете, но содержит много базовых принципов, которые актуальны до сих пор.</p>

                    <p><a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164">Clean Architecture</a> — одна из книг, которая перевернула моё представление о проектировании систем.</p>
                </div>
            </article>
        </main>
    </body>
</html>