---
title: Разработка
permalink: /development.html
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% include head.html %}
        
        <!-- Use the title from a page's frontmatter if it has one -->

        {% include header.html %}
        
        <title>Alsu Labs</title>
    </head>
    
    <body>
        <h4>Тут все про разработку, в основном про мобилку iOS.
</h4>


<body class="archive">
    <main class="content-container">
        <section>

            <ol class="years">
            <li>
            <h1>2020</h1>
            <ol class="articles">
                <li>
                    <article>
                        <a href="2020/development/book_advanced_swift.html">
                        <div class="title">
                            <h1>Про книгу Advanced Swift</h1>
                        </div>
                        </a>
                        <div class="date">
                            Oct 22, 2020
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="2020/development/how_to_become_a_programmer.html">
                        <div class="title">
                            <h1>Как перейти в iOS-разработчики?</h1>
                        </div>
                        </a>
                        <div class="date">
                            Oct 10, 2020
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="2020/development/this_blog.html">
                        <div class="title">
                            <h1>Об этом сайте</h1>
                        </div>
                        </a>
                        <div class="date">
                            Oct 8, 2020
                        </div>
                    </article>
                </li>
            </ol>

        </section>
    </main>
    <a href="about.html">
        <div class="title">
            <h4>Подробнее обо мне</h4>
        </div>
    </a>

</body>

    </body>
</html>
