---
title: Свежие статьи
permalink: /index.html
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% include head.html %}
        
        <!-- Use the title from a page's frontmatter if it has one -->
        <link href="/images/logo.png" rel="icon" type="image/png" />

        {% include header.html %}
        
        <title>Alsu Labs</title>
        <link href="/stylesheets/style.css" rel="stylesheet" />
    </head>
    
    <body>
        <section class="home-section">
    <header>
        <h1 class="page-title">Свежие статьи</h1>
    </header>

  <div class="home-section-content">
    <ol class="home-section-content-article-list">
        <li class="home-section-content-article-list-item">
          <article>
            <h1 class="home-section-content-article-list-item-title">
              <a href="2020/development/book_advanced_swift.html">Про книгу Advanced Swift</a>
            </h1>
              <p class="home-section-content-article-list-item-excerpt">
                Почему её стоит прочитать каждому, кто хочет в iOS.
                <a class="article-excerpt-more-link" href="2020/development/book_advanced_swift.html">More&nbsp;></a>
              </p>
            <p class="home-section-content-article-list-item-date">
              Oct 22, 2020
            </p>
          </article>
        </li>
        
        <li class="home-section-content-article-list-item">
          <article>
            <h1 class="home-section-content-article-list-item-title">
              <a href="2020/development/how_to_become_a_programmer.html">Как перейти в разработку?</a>
            </h1>
              <p class="home-section-content-article-list-item-excerpt">
                Подробная инструкция с ссылками на курсы.
                <a class="article-excerpt-more-link" href="2020/development/how_to_become_a_programmer.html">More&nbsp;></a>
              </p>
            <p class="home-section-content-article-list-item-date">
              Oct 10, 2020
            </p>
          </article>
        </li>
        <li class="home-section-content-article-list-item">
          <article>
            <h1 class="home-section-content-article-list-item-title">
              <a href="2020/development/this_blog.html">Каким станет этот блог</a>
            </h1>
              <p class="home-section-content-article-list-item-excerpt">
                Какие функции будут добавлены и что уже реализовано.
                <a class="article-excerpt-more-link" href="2020/development/this_blog.html">More&nbsp;></a>
              </p>
            <p class="home-section-content-article-list-item-date">
              Oct 10, 2020
            </p>
          </article>
        </li>
    </ol>
  </div>
    
<a href="/about.html">Обо мне</a>
</section>
    </body>
</html>
