<header-bar>
  <div class="site-id">
    <h1><span class="active">Alsu LABS</span></h1>
    <h4>Блог о мобильной разработке, книгах и размышления о жизни.</h4>
  </div>
  <ul class="menu-main">
    <li><a href="https://alsubikk.com/development.html" class="site">Разработка</a></li>
    <li><a href="https://alsubikk.com/books.html" class="site">Книги</a></li>
    <li><a href="https://alsubikk.com/book.html" class="site">Книга</a></li>
    <li><a href="https://alsubikk.com/experience.html" class="site">Опыт</a></li>
  </ul>
</header-bar>