<header-bar>
  <div class="site-id">
    <h1><span class="active">Alsu LABS</span></h1>
    <h4>Блог о мобильной разработке, книгах и размышления о жизни.</h4>
  </div>
  <ul class="menu-main">
    <li><a href="https://alsubikk.com/development.html" class="site">Блог</a></li>
    <li><a href="https://alsubikk.com/podcast.html" class="site">Подкасты</a></li>
    <li><a href="https://alsubikk.com/book.html" class="site">Моя книга</a></li>
    <li><a href="https://alsubikk.com/about.html" class="site">Обо мне</a></li>
  </ul>
</header-bar>