---
title: Как я стала мамой
lang: ru
---
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Как я стала мамой — Alsu LABS</title>

        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <main class="content-container">
            <article>
                <header>
                    <h1 class="title">Как я стала мамой</h1>
                </header>
                <footer>
                    <p class="caption">By Alsu Bikkulova / Март 1, 2022
          </p>
                </footer>

                <div class="article-content">

      17 февраля я стала мамой. Мне все говорят, что повезло с организмом. Но всю беременность я только и думала - почему природа сделала процесс настолько болезненным для будущих мам? И почему всё человечество еще не бросило все силы на уничтожение страданий беременных? Хотя погодите-ка - еще столетие назад смертность среди мам была ~1%, сегодня это уже ~0.01%), а из детей выживал примерно каждый четвертый - сегодня на 1000 родившихся приходится ~6 смертей. Числа впечатляющие, но работать ещё есть над чем. 
      <br><br>Всё, что хочу сказать вам: работа матерью - это самая сложная работа.<br><br>
      Вот уже 11 дней как мама и не понимаю, как можно столько взрослых людей, на которых потрачено столько усилий, времени, терпения, молока матерей, внимания родителей просто отправлять воевать. Очень легко это делать, когда это не твои дети, мужья и отцы.<br><br>

      <h3>Вот как проходила моя беременность.</h3>
      <h4>1 месяц май-июнь</h4>
      Не знала, сделала прививку от короны. Работала, уфигачивалась, потом поперли с одной работы. Стало очень плохо эмоционально - ушла и со второй. Начала толстеть и не могла похудеть бегая - по классике за две часовых пробежки возвращалась в форму, но так долго стало бегать невмоготу. Я шутканула, а вдруг беременна, а Ваня шутканул, а вдруг просто толстая.
      <h4>2 месяц июнь-июль</h4>
      Не знала, отдыхала, токсикозила. Не смогла есть курицу, индейку и всё куриное. Любимые блюда спасали ровно на 2 захода, потом приходилось что-то сочинять. Пошла на сплав - было очень тяжело, но не знала почему.
      <h4>3 месяц июль-август</h4>
      Открыла календарь месячных, 50 дней ещё ни разу не было, сделали тест. Через 4 дня улетать на Камчатку. Все-таки купила треккинговые ботинки и полетела. Это был райский месяц на рыбе и 3-ех разовом питании от божественного повара - токсикоз исчез за день. Забиралась на вулканы, трогала лаву и купалась в океане в +14 градусах и в термальных источниках +30. Проходила все стадии принятия беременности и токсичности в связи с гормональным фоном и токсикозом, который периодически возвращался. И всё это без Вани.
      <h4>4 месяц август-сентябрь</h4>
      Решила все-таки дойти до поликлиники - выкидыша не случилось (средняя статистика выкидышей в 1-ом триместре около 30%). В больнице вставили пиздюлей (не заслужено, считаю) и показали на УЗИ малыша. Вот тут в первый раз сердечко ёкнуло. Становится тяжело дышать - периодически бегала к пульсоксиметру, оказывался не ковид. Пока не говорила родственникам, только маме и близким друзьям. Свекровь моментально всё поняла, увидев грудь на 2 размера больше. Чувствую собственную дикую уязвимость и боюсь открываться миру. Спойлер: периодически проскакивали шутейки, которые обижали, когда делилась новостью.
      <h4>5 месяц сентябрь-октябрь</h4>
      Самочувствие сильно улучшилось, вспомнила, что не работаю уже 3-ий месяц. Поссорилась с управляющей компанией и начала процессы по её смене. Потом подумала (читай образумилась) и решила устроиться на работу. Нашла компанию с 1ого собеса - был мэтч по моим целям, хотелкам по стеку, да и зарплату сразу норм поставили. Начала возвращаться к социальной жизни.
      <h4>6 месяц октябрь-ноябрь</h4>
      Упоролась в работу. Стала похожа на Карлсона или телепузика. Становится тяжело сидеть на одном месте. Лицо стало шелушиться - дерматолог прописал мазь радевит с витаминами А и Е, я проигнорировала и пошла дальше страдать к гастроэнтерологу. Начала читать книжки про беременность и воспитание детей. Узнала много нового про себя.
      <h4>7 месяц ноябрь-декабрь</h4>
      Рассказала друзьям (всё равно уже всё видно), они порадовались и поспешили сбагрить мне детские вещи. А кто-то щедро одарил зимним пуховиком :) Пробежала 15 метров с темпом 9, чтобы успеть на автобус - потом полдня отходила, решила больше так не делать. В ногах дикие судороги - аж по ночам просыпалась от боли. Оказался дефицит витамина B6 плюс анемия по ферритину. Две недели принимало добавку с железом, начала из носа идти кровь, но ферритин упал с 16 до 12 (при норме 40). Что делать - ничего не делать - «это норма». Помогает массаж роллером.
      <h4>8 месяц декабрь-январь</h4>
      Целую неделю ходила в офис - было тяжело. Никакие штаны уже не налезают - да здравствуют платья и пижама! Выбрала роддом, сначала один, потом другой. Ребёнок буянит и рвется ручками наружу (прямо кадры из чужого) - иногда очень тяжело целыми днями выдерживать его бодрствования. Малой уже разделяет со мной эмоции - ему не нравится грусть, злость и обидки на папу. Психолог не рекомендует проживать сильные эмоции в этот период. Начала уставать спина - там оказывается существуют мышцы и они напрягаются, теперь нужен массаж и там. Поехали в путешествие в Казань на машинах. А, кстати, не могу сама встать и тяжело зашнуровываться. Что бы я делала без Вани?  
      <h4>9 месяц январь-февраль</h4>
      Уже точно дома и только дома. Не рекомендуют много двигаться, чтобы не провоцировать движения у ребенка - скоро роды.
<br><br>
<h3>О том, как меняется характер во время беременности</h3>
Организм начинает требовать больше ресурсов - две работы, проект и параллельные активности + плюс накопившаяся усталость от переработок никак не сочится.