---
title: Про книгу Advanced Swift
permalink: /2020/development/book_advanced_swift.html
---
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Про книгу Advanced Swift — Alsu LABS</title>

        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <main class="content-container">
            <article>
                <header>
                    <h1 class="title">Про книгу Advanced Swift</h1>
                </header>

                <footer>
                    <div class="metadata">
                        <p class="author">
                            By Alsu Bikkulova / Октябрь 20, 2020
                        </p>
                    </div>
                </footer>

                <div class="article-content">


    Для кого книга? Начинающие разработчики, которые освоили синтаксис языка и готовы погрузиться глубже.
    <br>Эта книга для многих компаний стала стандартом знаний о языке Swift.
    <br>Теперь сводка по главам, что там было интересного для меня.
    <br><h3>Enums</h3>
    Что это?
    Это структуры данных, которые включают в себя определенные состояния. Какие именно - решать автору конкретного enum. 
    Самый распространенный enum, который используется в Swift - опционал. Выглядит он так:
 <br><br>
enum Optional {SomeType} {<br>
  case Some(let var)<br>
  case none<br>
}<br>
 <br>
Мы делаем переменные опциональными, когда не знаем, будет ли там храниться какое-то значение на протяжении всей жизни переменной.
 <br>
Важно понимать, что экземпляр любого enum может содержать только один вариант из всех уже объявленных вариантов. Для enum Oprional это значит, что либо one, либо Some. Никогда вместе, никогда не бывает не выбран ни один вариант.
 <br><br>
Что в них особенного?<br>
Они очень похожи на структуры (Struct), но они не могут хранить свойства с данными.
А еще количество вариантов, которые могут они принимать объявляется только в самом начале и не может быть изменено где-то на стороне с помощью extension.
 <br>
Ответь себе на вопрос, почему хранить не могут сам :)
 <br><br>
Приколы: <br>
If case .some = someVar { }<br>
 <br>
Зачем они нужны?
Чтобы контролировать все возможные состояния. Чаще всего их пишут для контроля ответов с бэка и вариантов случившихся ошибок.
 <br>
Enum - это структура данных с ссылочной семантикой (value type. что это и как - потом)

 <br> 
 <h3>Strings</h3>

Самый-самый-самый важный прикол со стрингами - это то, что с появлением эмодзи если собирать какие-то символы вместе, то можно получить новый символ (эмодзи), а значит сумма длин двух переменных не равно длине полученной переменной.
 <br><br>
Что там с кодировками?<br><br>
Есть UTF-8, UTF-16, Unicode и другие. <br>
Из чего состоит символ эмодзи? Он состоит из скалярных символов - это что-то типа «u{109}». Каждый скаляр соответствует какому-то символу текста. Каждый скаляр состоит из чего-то еще. Один символ текста может быть собран из разного набора скаляров. Символ текста может состоять из нескольких скаляров - поэтому сумма двух скаляров может оказать новым элементом. 
<br>
<h3>Collection</h3>
TBD <br><br>
    Вообще, я начала переводить книгу на русской - но сделала только для первый двух глав. Для остальных нужна мотивация: либо вместе с кем-то делать, либо донаты. Если хотите с чем-то из этого помочь - пишите alsu.labs@gmail.com
      
                </div>
            </article>
        </main>
    </body>
</html>